@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
*{
    margin: auto;
    padding: auto;
}
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif; 
}
body{
    background: #2b2929;
    
}
.container{
    position: relative;
    border: 2px solid black;
    width: fit-content;
    margin-top: auto;
    padding: 20px;
    background-color: rgb(43, 44, 45);
    /* box-shadow: 5px 5px 25px white; */
    filter: drop-shadow(10px 10px 10px rgb(105, 104, 104));
}
.button{
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 9px;
  cursor: pointer;
}

.row{
  margin: 8px 0;
}
.row input{
  width: 291px;
  font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
}